.search-btn-title {
  font-size: 12px;
  font-weight: 800 !important;
}
.search-btn-label {
  font-size: 14px !important;
  line-height: 18px !important;
  color: #717171 !important;
  font-weight: 400 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 100% !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.search-btn-icon {
  color: white;
  background-color: #ff385c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.search-btn-container {
  border-radius: 6ch;
  width: 100%;
}
.search-btn-container:hover {
  background-color: rgb(239, 239, 239);
}

.divider {
  width: 5px !important;
  background-color: rgb(239, 239, 239);
  height: 100% !important;
}
