.App {
  text-align: center;
  background-color: white;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  width: 100%;
}

.section-title {
  font-size: 33px !important;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 37px !important;
  color: #222222 !important;
  text-align: left;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  padding-top: 2ch;
  padding-bottom: 2ch;
  margin-left: 0.5ch;
}
.header {
  background-color: black;
  padding-bottom: 20ch;
  width: 100%;
}
